* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    line-height: 1.6;

    margin: 0 5em;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

header {
    grid-area: header;
    background-color: firebrick;
}

aside {
    grid-area: sidebar;
    background-color: lavenderblush;
}

main {
    grid-area: main-content;
    background-color: cadetblue;
}