@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --base-font-size: 1rem;
    --layout-padding: 1.5rem 2rem;
    --aside-row-gap: 2rem;

    --blue-color: #2563EB;
    --grey-color: #E2E8F0;
    --yellow-color: #FACC15;

    --box-shadow: 0 .3rem 1.2rem #94A3B8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: var(--base-font-size);

    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 10rem auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}


header,
aside,
main {
    padding: var(--layout-padding);
}

aside {
    grid-area: sidebar;
    background-color: var(--blue-color);
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: var(--aside-row-gap);
}

aside h1 {
    font-size: 1.3rem;
}

aside a {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
}

#branding img {
    width: 70%;
}

#top-menu img, #bottom-menu img {
    width: 35%;
}

#branding,
#top-menu a,
#bottom-menu a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 2.5rem;
}

#branding img,
#top-menu img, 
#bottom-menu img {
    grid-column: 1/2;
    place-self: center;
}

#branding h1,
#top-menu h3, 
#bottom-menu h3 {
    grid-column: 2/3;
    align-self: center;
}

header {
    grid-area: header;
    background-color: #fff;
    box-shadow: var(--box-shadow);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2.5rem 1fr;
    gap: .5rem;
    z-index: 1;
}

#top-left,
#bottom-left,
#top-right,
#bottom-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


#top-left {
    grid-column: 1 / 2;
}

#bottom-left {
    grid-column: 1 / 2;
    gap: 1rem;
}

#top-right {
    grid-column: 2 / 3;
    justify-content: flex-end;
}

#bottom-right {
    grid-column: 2 / 3;
    justify-content: flex-end;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: .5rem;
}

label[for=search] {
    display: grid;
}

label[for=search] img {
    place-self: center;
}


input[type=search] {
    padding: .3rem 1rem;
    border: 1px solid var(--grey-color);
    background-color: var(--grey-color);
    border-radius: 20px;
}

input[type=search]:active {
    outline: none;
    border: 2px solid var(--blue-color);
}

.profile-picture {
   max-width: 10%;
   padding: .3rem;
   background-color: var(--yellow-color);
   clip-path: circle();

}

.profile-picture img {
    display: block;
    width: 100%;
    height: 100%;
    clip-path: circle();
    /* margin: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover; */
}

#profile-name {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#bottom-right button {
    width: 5rem;
    padding: .5rem;
    outline: none;
    background-color: var(--blue-color);
    color: #fff;
    border: 1px solid var(--blue-color);
    border-radius: 25px;
}

#bottom-right button:hover {
    background-color: #fff;
    color: #000;
}

#bottom-right button:active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    background-color: var(--grey-color);
    border: 3px solid var(--blue-color);
}

main {
    grid-area: main-content;
    background-color: var(--grey-color);

    display: grid;
    grid-template-columns: 1fr 15rem;
    gap: 1.5rem;
}

#projects {
    grid-column: 1 / 2;
}

#main-right {
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

#project-cards {
    margin: .5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    padding: 1.5rem;
    border-left: .5rem solid var(--yellow-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: .2rem;
}

.card h4 {
    align-self: end;
}

.card p {
    align-self: start;
    font-size: .9rem;
    line-height: 1.6;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.5rem;

    /* Use filter property to change hex code color of svg (https://isotropic.co/tool/hex-color-to-css-filter/)*/
    filter: invert(71%) sepia(15%) saturate(407%) hue-rotate(176deg) brightness(90%) contrast(84%);
}

.card-icons a:hover {
    filter: invert(33%) sepia(65%) saturate(5592%) hue-rotate(218deg) brightness(96%) contrast(91%);
}

.card-icons a:active {  
    filter: invert(61%) sepia(58%) saturate(591%) hue-rotate(8deg) brightness(100%) contrast(108%);
}

.card-icons img {
    width: 1.5rem;
}

#announcements {
    grid-row: 1 / 2;    
}

#trendings {
    grid-row: 2 / 3;
}

#announcements,
#trendings {
    display: grid;
    grid-template-rows: auto 1fr;
}

.right-card {
    background-color: #fff;
    margin: .5rem 0;
    padding: 1.5rem;
    border-left: none;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    

    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.right-card p {
    font-size: 0.8rem;
}

.right-card hr {
    border: 1px solid var(--grey-color);
}

.user-trend {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
}

.user-trend .profile-picture {
    grid-column: 1 / 2;
    place-self: center;
    max-width: 80%;
}


.user-trend .title{
    grid-column: 2 / 3;
    justify-self: start;
    align-self: center;
    
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.user-trend:first-child .profile-picture {
    background-color: #BAE6FD;
}

.user-trend:nth-child(3) .profile-picture {
    background-color: #94A3B8;
}

.user-trend:last-child .profile-picture {
    background-color: #FCA5A5;
}

.title p:first-child {
    font-weight: bold;
    color: var(--blue-color);
}

@media (max-width: 1200px) {
    main {
        grid-template-columns: auto;
        grid-template-areas: 
        "projects"
        "main-right";
    }

    #main-right {
        grid-area: main-right;

        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "announcements trendings";
    }

    #announcements {
        grid-area: announcements;
    }

    #trendings {
        grid-area: trendings;
    }

    .right-card {
        gap: .5rem;
    }

    .user-trend .profile-picture {
        max-width: 3rem;
    }
    
}

@media (max-width: 900px) {
    body {
        grid-template-areas: 
            "header header"
            "sidebar main-content";
    }
}

@media (max-width: 768px) {

    h3, h4, p {
        font-size: 1rem;
    }

    #bottom-left .profile-picture {
        max-width: 10%;
     
     }
    #main-right {
        grid-template-columns: auto;
        grid-template-areas: 
        "announcements"
        "trendings";
    }
    
}